# common
mysqlclient==2.1.1
django==4.1.4
django-redis==5.2.0
django-uuslug

# djangorestframework
django-cors-headers==3.13.0
djangorestframework==3.13.1
markdown==3.4.1
django-filter==21.1

# swagger
drf-yasg2==1.19.4

# blog
mistune==2.0.4
pygments==2.13.0